@font-face {
    font-family: InterBold;
    src: url(Inter-Bold.ttf) format("truetype")
}

@font-face {
    font-family: InterMed;
    src: url(Inter-Medium.ttf) format("truetype")
}

@font-face {
    font-family: InterReg;
    src: url(Inter-Regular.ttf) format("truetype")
}

@font-face {
    font-family: InterLight;
    src: url(Inter-Light.ttf) format("truetype")
}

@font-face {
    font-family: InterThin;
    src: url(Inter-Thin.ttf) format("truetype")
}

:root {
    --w: 80%;
    --body: 16px/24px InterLight;
    --bodysp: 18px/28px InterMed;
    --header: 16px/24px InterMed;
    --caption: 14px/16px InterLight;
    --slidew: 400px
}

@media only screen and (max-width:1024px) {
    :root {
        --w: 95%
    }

    .header .bodycopy {
        top: 15%;
        width: 100%;
        height: 60vh;
        font: 28px/40px InterMed
    }

    .header-links {
        display: none
    }

    .intro {
        margin: 0 0 100px;
        margin-bottom: 100px
    }

    .introMain {
        margin: 0 0 0;
        margin-bottom: 100px
    }

    .intro .intro-grid {
        display: block
    }

    .intro .solution-grid {
        display: block;

    }

    .intro-grid .para {
        margin-bottom: 100px
    }


    .about .about-grid {
        display: block
    }

    .about-grid .para {
        margin-bottom: 50px
    }
}

@media only screen and (max-width:1280px) {
    :root {
        --w: 90%;
        --body: 14px/20px InterLight;
        --bodysp: 16px/24px InterMed;
        --caption: 12px/15px InterLight
    }

    .intro {
        margin: 0 0 100px
    }

    .introMain {
        margin: 0 0 100px
    }

    .intro .intro-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-column-gap: 10%;
        grid-row-gap: 10%
    }

    .intro .solution-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-column-gap: 10%;
        grid-row-gap: 10%
    }

    .workshop {
        margin: 100px 0;
        display: block
    }

    .about {
        margin: 100px 0 50px
    }
}


/*///////////////////////*/

body,
html {
    height: 100%;
    margin: 0
}

.x0,
.z0 {
    display: inline
}

.x1,
.z1 {
    display: inline;
    text-decoration: underline
}

.header {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    color: #fff
}

.bodycopy {
    z-index: 1;
    text-align: center;
    position: absolute;
    text-shadow: 0 0 4px #00000060;
    top: 40%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    font: 35px/50px InterMed
}

.header-description {
    position: fixed;
    width: 100%;
    overflow: hidden
}

.header-logo {
    margin: 15px;
    float: left
}

.header-description h2 {
    color: #fff;
    font-family: InterReg;
    font-size: 18px
}

.header-links {
    float: right
}

.header-description a {
    float: left;
    color: #000;
    text-align: center;
    text-decoration: none;
    font: var(--body);
    padding: 12px
}

.header-description a:hover {
    text-decoration: underline
}

.header-description span {
    font: 16px/20px InterReg
}

.intro {
    width: var(--w);
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto
}

.intro-grid {
    display: grid;
    align-content: center;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    width: 70vw;
    grid-column-gap: 10%;
    height: 100%
}

.solution-grid {
    display: grid;
    align-content: center;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 70vw;
    grid-column-gap: 10%;
    height: 100%
}

.solution-grid .soluImage{
    width: 400px;
    margin: 60px;
    
}

.solution-grid .soluText{
    
     margin: 30px;
    font: var(--body);
    font-size: 10pt
    
}

.soluText p {
     margin-top: 0;
    font: var(--body);
    font-size: 10pt 
    
}

.soluText span {
    font: var(--bodysp)
    
}

.para p {
    margin-top: 0;
    font: var(--body);
    font-size: 10pt
}

.para p span {
    font: var(--bodysp)
}

.para1 p {
    margin: 1vw;
    text-align: center;
    font: var(--body);
    font-size: 10pt
}

.para1 p span {
    font: var(--bodysp)
}

.para2 p {
    margin: 1vw;
    text-align: center;
    font: var(--body);
    font-size: 10pt
}

.para2 p span {
    font: var(--bodysp)
}

.para3 p {
    margin: 1vw;
    text-align: center;
    font: var(--body);
    font-size: 10pt
}

.para3 p span {
    font: var(--bodysp)
}

.para4 p {
    margin: 1vw;
    text-align: center;
    font: var(--body);
    font-size: 10pt
}

.para4 p span {
    font: var(--bodysp)
}

.image-center {
    margin: 30px
}

.intro .para {
    grid-column-start: 1;
    grid-column-end: 3
}

.intro .para1 {
    width: 50%;
    grid-column-start: 1;
    grid-column-end: 3
}

.intro .para2 {
    width: 50%;
    grid-column-start: 3;
    grid-column-end: 5
}

.intro .para3 {
    width: 50%;
    grid-column-start: 5;
    grid-column-end: 7
}

.intro .slide-image {
    width: 40vw;
}

.para a {
    text-decoration: underline;
    color: #000
}

.para a:hover {
    text-decoration: underline;
    background: #000;
    color: #fff
}

.workshop {
    width: var(--w);
    margin: 200px 0;
    margin-left: auto;
    margin-right: auto
}

.workshop-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3%;
    grid-row-gap: 10%;
    width: 100%;
    height: 100%
}

.workshop p span {
    font: var(--bodysp)
}

.workshop h2 {
    font: 16px/40px InterBold;
    margin: 0;
    padding: 0
}

.workshop p {
    font: var(--body);
    margin: 0
}




.workshop h2 span {
    font: 30px/40px InterReg;
    margin: 0;
    padding: 0
}

text {
    color: #000;
    font-family: Caladea;
    font-size: 12px;
    line-height: 16px;
    padding-right: 0;
    background: #fff
}

a.text {
    color: #000;
    font-family: Caladea;
    font-size: 12px;
    line-height: 16px;
    padding-right: 0;
    background: #fff
}

a:visited {
    color: #000
}

a:link {
    color: #000
}

a:hover {
    color: #fff;
    background: #000
}

.Center {
    position: relative;
    margin-top: 10vh;
    text-align: center;
    bottom: 3vh;
    transform: translate(-50%);
    left: 50%;
    width: 400px
}

.main-img {
    height: 592px;
    width: 927px;
    position: relative;
    background: url(https://image.ibb.co/h2yYXQ/J3QYOZO.png) no-repeat center
}

.area-one {
    height: 26px;
    width: 138px;
    top: 193px;
    left: 24px
}
